/* * {
  overflow: auto;
} */
#recent-posts1 {
    background: #0998B8;
    width: 285px;
    height: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #recent-posts1 canvas {
    overflow: auto;
    box-shadow: 0.2em 0.2em 2em #0008;
    border: none;
    outline: none;
  }